# Config file for g0s (Galaxy S22+)
# This is merged with s5e9925_defconfig on build

CONFIG_MODEL_G0S=y

# Camera
# CONFIG_CAMERA_CIS_GH1_OBJ is not set
# CONFIG_CAMERA_CIS_HM3_OBJ is not set
# CONFIG_CAMERA_CIS_IMX563_OBJ is not set
# CONFIG_CAMERA_CIS_IMX754_OBJ is not set
# CONFIG_CAMERA_LASER_AF_VL53L5_OBJ is not set
# CONFIG_CAMERA_RSV_V03 is not set
CONFIG_CAMERA_CIS_2LA_OBJ=m
CONFIG_CAMERA_CIS_2LD_OBJ=m
CONFIG_CAMERA_CIS_3J1_OBJ=m
CONFIG_CAMERA_CIS_3K1_OBJ=m
CONFIG_CAMERA_CIS_IMX374_OBJ=m
CONFIG_CAMERA_RSV_V02=y

# Display
# CONFIG_EXYNOS_DECON_LCD_S6E3HAE is not set
CONFIG_EXYNOS_DECON_LCD_S6E3FAC=m

# Sensors
# CONFIG_SENSORS_VL53L5 is not set
# CONFIG_SENSORS_VL53L5_SUPPORT_KERNEL_INTERFACE is not set
# CONFIG_SENSORS_VL53L5_SUPPORT_UAPI is not set
# CONFIG_SUPPORT_BRIGHTDOT_TEST is not set
CONFIG_CHARGER_PCA9481=m

# Misc
# CONFIG_EPEN_WACOM_WEZ02 is not set
CONFIG_MAX77705_USE_EXTRA_FW=y
