# Config file for r0s (Galaxy S22)
# This is merged with s5e9925_defconfig on build

CONFIG_MODEL_R0S=y

# Camera
# CONFIG_CAMERA_CIS_GH1_OBJ is not set
# CONFIG_CAMERA_CIS_HM3_OBJ is not set
# CONFIG_CAMERA_CIS_IMX563_OBJ is not set
# CONFIG_CAMERA_CIS_IMX754_OBJ is not set
# CONFIG_CAMERA_LASER_AF_VL53L5_OBJ is not set
# CONFIG_CAMERA_RSV_V03 is not set
CONFIG_CAMERA_CIS_2LA_OBJ=m
CONFIG_CAMERA_CIS_2LD_OBJ=m
CONFIG_CAMERA_CIS_3J1_OBJ=m
CONFIG_CAMERA_CIS_3K1_OBJ=m
CONFIG_CAMERA_CIS_IMX374_OBJ=m
CONFIG_CAMERA_RSV_V01=y

# Display
# CONFIG_EXYNOS_DECON_LCD_S6E3HAE is not set
CONFIG_EXYNOS_DECON_LCD_S6E3FAC=m

# Sensors
# CONFIG_SENSORS_VL53L5 is not set
# CONFIG_SENSORS_VL53L5_SUPPORT_KERNEL_INTERFACE is not set
# CONFIG_SENSORS_VL53L5_SUPPORT_UAPI is not set
# CONFIG_SUPPORT_BRIGHTDOT_TEST is not set
CONFIG_CHARGER_PCA9481=m

# Misc
# CONFIG_EPEN_WACOM_WEZ02 is not set
# CONFIG_SAMSUNG_UWB is not set
# CONFIG_UWB_SR100 is not set
CONFIG_DEBUG_GPIO_SETTING=y
CONFIG_MAX77705_USE_EXTRA_FW=y

# Wi-Fi/BT
# CONFIG_BCM_DHD_WLAN is not set
# CONFIG_BT_BCM43XX is not set
CONFIG_BUS_AUTO_SUSPEND=y
CONFIG_CLD_LL_CORE=y
CONFIG_CNSS_GENL=m
CONFIG_CNSS_PLAT_IPC_QMI_SVC=m
CONFIG_CNSS_QCA6490=y
CONFIG_CNSS_QMI_SVC=m
CONFIG_CNSS_UTILS=m
CONFIG_CNSS2_QMI=y
CONFIG_CNSS2=m
CONFIG_MHI_BUS_DEBUG=y
CONFIG_MHI_BUS_MISC=y
CONFIG_MHI_BUS=m
CONFIG_MSM_BT_POWER=m
CONFIG_NL80211_TESTMODE=y
CONFIG_QCA_CLD_WLAN=m
CONFIG_QCOM_QMI_HELPERS=m
CONFIG_QRTR_MHI=m
CONFIG_QRTR_NODE_ID=1
CONFIG_QRTR_WAKEUP_MS=0
CONFIG_QRTR=m
CONFIG_SEC_SS_CNSS_FEATURE_SYSFS=y
CONFIG_WCNSS_MEM_PRE_ALLOC=m
CONFIG_IPC_LOGGING=m
CONFIG_IPC_LOG_MINIDUMP_BUFFERS=0
CONFIG_GENERIC_TRACER=y
CONFIG_R0S_WIRELESS=y
# CONFIG_BUILD_TIMESTAMP is not set
# CONFIG_CNSS_ASYNC is not set
# CONFIG_CNSS_EMULATION is not set
# CONFIG_CNSS_QCA6290 is not set
# CONFIG_CNSS_QCA6390 is not set
# CONFIG_CNSS_REQ_FW_DIRECT is not set
# CONFIG_CNSS_WCN7850 is not set
# CONFIG_CNSS2_DEBUG is not set
# CONFIG_HELIUMPLUS is not set
# CONFIG_ICMP_DISABLE_PS is not set
# CONFIG_LFR_SUBNET_DETECTION is not set
# CONFIG_MCC_TO_SCC_SWITCH is not set
# CONFIG_MHI_DTR is not set
# CONFIG_MHI_NETDEV is not set
# CONFIG_MHI_SATELLITE is not set
# CONFIG_MHI_UCI is not set
# CONFIG_MPC_UT_FRAMEWORK is not set
# CONFIG_NAN_CONVERGENCE is not set
# CONFIG_PRIMA_WLAN_OKC is not set
# CONFIG_QCACLD_FEATURE_GREEN_AP is not set
# CONFIG_QCACLD_FEATURE_NAN is not set
# CONFIG_QCACLD_WLAN_LFR2 is not set
# CONFIG_QCACLD_WLAN_LFR3 is not set
# CONFIG_QCOM_LTE_COEX is not set
# CONFIG_QCOM_TDLS is not set
# CONFIG_QCOM_VOWIFI_11R is not set
# CONFIG_QRTR_GUNYAH is not set
# CONFIG_QRTR_SMD is not set
# CONFIG_QRTR_TUN is not set
# CONFIG_WLAN_FASTPATH is not set
# CONFIG_WLAN_FEATURE_11AX is not set
# CONFIG_WLAN_FEATURE_11W is not set
# CONFIG_WLAN_FEATURE_DFS_OFFLOAD is not set
# CONFIG_WLAN_FEATURE_DISA is not set
# CONFIG_WLAN_FEATURE_FILS is not set
# CONFIG_WLAN_FEATURE_FIPS is not set
# CONFIG_WLAN_FEATURE_LPSS is not set
# CONFIG_WLAN_FEATURE_SARV1_TO_SARV2 is not set
# CONFIG_WLAN_NAPI is not set
# CONFIG_WLAN_OBJMGR_DEBUG is not set
# CONFIG_WLAN_OFFLOAD_PACKETS is not set
# CONFIG_WLAN_SYNC_TSF is not set
# CONFIG_WLAN_TX_FLOW_CONTROL_V2 is not set
