# ExtremeKernel config file for building recovery kernel
# This is merged with s5e9925_defconfig and debug config on build

# Set custom kernel version
CONFIG_LOCALVERSION="-rainbow"
CONFIG_LOCALVERSION_AUTO=y

# Disable auditing
# CONFIG_AUDIT is not set

# Disable NXP SR100 UWB chip
# CONFIG_SAMSUNG_UWB is not set
# CONFIG_UWB_SR100 is not set
# CONFIG_SEC_UWB_LOGGER is not set

# Disable other useless features
# CONFIG_ANDROID_BINDERFS is not set
# CONFIG_MST_TEEGRIS is not set
# CONFIG_MST_V2 is not set
# CONFIG_MST_SUPPORT_GPIO is not set
# CONFIG_MST_LDO is not set
# CONFIG_MST_ARCH_EXYNOS is not set

# Disable Wi-Fi/BT
# CONFIG_BCM_DHD_WLAN is not set
# CONFIG_BT_BCM43XX is not set
# CONFIG_BUS_AUTO_SUSPEND is not set
# CONFIG_CLD_LL_CORE is not set
# CONFIG_CNSS_GENL is not set
# CONFIG_CNSS_PLAT_IPC_QMI_SVC is not set
# CONFIG_CNSS_QCA6490 is not set
# CONFIG_CNSS_QMI_SVC is not set
# CONFIG_CNSS_UTILS is not set
# CONFIG_CNSS2_QMI is not set
# CONFIG_CNSS2 is not set
# CONFIG_MHI_BUS_DEBUG is not set
# CONFIG_MHI_BUS_MISC is not set
# CONFIG_MHI_BUS is not set
# CONFIG_MSM_BT_POWER is not set
# CONFIG_NL80211_TESTMODE is not set
# CONFIG_QCA_CLD_WLAN is not set
# CONFIG_QCOM_QMI_HELPERS is not set
# CONFIG_QRTR_MHI is not set
# CONFIG_QRTR_NODE_ID is not set
# CONFIG_QRTR_WAKEUP_MS is not set
# CONFIG_QRTR is not set
# CONFIG_SEC_SS_CNSS_FEATURE_SYSFS is not set
# CONFIG_WCNSS_MEM_PRE_ALLOC is not set
# CONFIG_IPC_LOGGING is not set
# CONFIG_IPC_LOG_MINIDUMP_BUFFERS is not set
# CONFIG_GENERIC_TRACER is not set
# CONFIG_R0S_WIRELESS is not set
# CONFIG_BUILD_TIMESTAMP is not set
# CONFIG_CNSS_ASYNC is not set
# CONFIG_CNSS_EMULATION is not set
# CONFIG_CNSS_QCA6290 is not set
# CONFIG_CNSS_QCA6390 is not set
# CONFIG_CNSS_REQ_FW_DIRECT is not set
# CONFIG_CNSS_WCN7850 is not set
# CONFIG_CNSS2_DEBUG is not set
# CONFIG_HELIUMPLUS is not set
# CONFIG_ICMP_DISABLE_PS is not set
# CONFIG_LFR_SUBNET_DETECTION is not set
# CONFIG_MCC_TO_SCC_SWITCH is not set
# CONFIG_MHI_DTR is not set
# CONFIG_MHI_NETDEV is not set
# CONFIG_MHI_SATELLITE is not set
# CONFIG_MHI_UCI is not set
# CONFIG_MPC_UT_FRAMEWORK is not set
# CONFIG_NAN_CONVERGENCE is not set
# CONFIG_PRIMA_WLAN_OKC is not set
# CONFIG_QCACLD_FEATURE_GREEN_AP is not set
# CONFIG_QCACLD_FEATURE_NAN is not set
# CONFIG_QCACLD_WLAN_LFR2 is not set
# CONFIG_QCACLD_WLAN_LFR3 is not set
# CONFIG_QCOM_LTE_COEX is not set
# CONFIG_QCOM_TDLS is not set
# CONFIG_QCOM_VOWIFI_11R is not set
# CONFIG_QRTR_GUNYAH is not set
# CONFIG_QRTR_SMD is not set
# CONFIG_QRTR_TUN is not set
# CONFIG_WLAN_FASTPATH is not set
# CONFIG_WLAN_FEATURE_11AX is not set
# CONFIG_WLAN_FEATURE_11W is not set
# CONFIG_WLAN_FEATURE_DFS_OFFLOAD is not set
# CONFIG_WLAN_FEATURE_DISA is not set
# CONFIG_WLAN_FEATURE_FILS is not set
# CONFIG_WLAN_FEATURE_FIPS is not set
# CONFIG_WLAN_FEATURE_LPSS is not set
# CONFIG_WLAN_FEATURE_SARV1_TO_SARV2 is not set
# CONFIG_WLAN_NAPI is not set
# CONFIG_WLAN_OBJMGR_DEBUG is not set
# CONFIG_WLAN_OFFLOAD_PACKETS is not set
# CONFIG_WLAN_SYNC_TSF is not set
# CONFIG_WLAN_TX_FLOW_CONTROL_V2 is not set

# Disable NPU
# CONFIG_VISION_SUPPORT is not set
# CONFIG_VISION_CORE is not set
# CONFIG_VISION_CORE_M is not set
# CONFIG_VISION_UNITTEST is not set
# CONFIG_EXYNOS_NPU is not set
# CONFIG_EXYNOS_NPU_DRAM_FW_LOG_BUF is not set
# CONFIG_EXYNOS_NPU_PUBLISH_NPU_BUILD_VER is not set

# Disable cameras
# CONFIG_SUPPORT_BRIGHTDOT_TEST is not set
# CONFIG_SENSORS_VL53L5_SLSI is not set
# CONFIG_CAMERA_RSV_V02 is not set
# CONFIG_CAMERA_RSV_V03 is not set
# CONFIG_CAMERA_CIS_GH1_OBJ is not set
# CONFIG_CAMERA_CIS_HM3_OBJ is not set
# CONFIG_CAMERA_CIS_IMX563_OBJ is not set
# CONFIG_CAMERA_CIS_IMX754_OBJ is not set
# CONFIG_CAMERA_LASER_AF_VL53L5_OBJ is not set
# CONFIG_SENSORS_VL53L5 is not set
# CONFIG_SENSORS_VL53L5_SUPPORT_UAPI is not set
# CONFIG_SENSORS_VL53L5_SUPPORT_KERNEL_INTERFACE is not set

# Optimize for size instead of performance
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
# CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE is not set

# EOF